.App {
  text-align: center;
}

body {
  background-color: #B0C9DC;
}

.welcome{
  position: absolute;
  width: 210px;
  height: 46px;
  left: 350px;
  top: 69px;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 56px;

  color: #043159;
}

.welcome-message{
  position: absolute;
  width: 330px;
  height: 21px;
  left: 283px;
  top: 156px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 21px;

  color: #3C6081;
}

.welcome-box {
  position: absolute;
  width: 357px;
  height: 102px;
  left: 265px;
  top: 41px;

  background: #6F98BE;
}

.welcome-vector{
  position: absolute;
  width: 357px;
  height: 100.5px;
  left: 259.5px;
  top: 37px;

  border: 5px solid #000000;
}
.pop-button{
  position: absolute;
  width: 103px;
  height: 100px;
  left: 225px;
  top: 232px;

  background-image: url('http://webservice.emaze.com/convert/presentationThumbnail?presentationID=@AOCLLZIZZ&w=1200&h=675&imgW=1200');
}

.alt-button{
  position: absolute;
  width: 103px;
  height: 100px;
  left: 390px;
  top: 232px;

  background-image: url('');
}

.country-button{
  position: absolute;
  width: 103px;
  height: 100px;
  left: 555px;
  top: 232px;

  background-image: url('');
}

.rock-button{
  position: absolute;
  width: 103px;
  height: 100px;
  left: 225px;
  top: 383px;

  background-image: url('');
}

.top-button{
  position: absolute;
  width: 103px;
  height: 100px;
  left: 390px;
  top: 383px;

  background-image: url('');
}

.hip-hop-button{
  position: absolute;
  width: 103px;
  height: 100px;
  left: 555px;
  top: 383px;

  background-image: url('');
}

.classical-button{
  position: absolute;
  width: 103px;
  height: 100px;
  left: 225px;
  top: 534px;

  background-image: url('');
}
.kids-button{
  position: absolute;
  width: 103px;
  height: 100px;
  left: 390px;
  top: 534px;

  background-image: url('');
}
.edm-button{
  position: absolute;
  width: 103px;
  height: 100px;
  left: 555px;
  top: 534px;

  background-image: url('');
}
